@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0
}
body {
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 300;
    font-size: 16px;
    background: #eee;
    color: #000;
    margin: 0 20px 0;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 13px
    }
}
h1 {
    font-size: 36px;
    font-weight: normal;
}
h2 {
    font-size: 1.5em
}
h3 {
    font-size: 1.3em;
}
a {
    text-decoration: none;
    outline-width: 0;
    color: #2c3539;
    font-weight: bold;
}
.left {
    float: left
}
.right {
    float: right
}
.clear {
    *zoom: 1
}
.clear: after {
    content: "";
    display: table;
    clear: both
}
.inner {
    width: 100%;
    margin: 0 auto
}
.container {
    position: relative;
    min-width: 600px;
    max-width: 800px;
    margin: 0 auto
}
body {
    margin-top: 94px;
}
header {
    height: 96px;
    padding: 20px;
    line-height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;;
}

@media screen and (max-width:  600px) {
    header {
        height: auto;
        padding-top: 0;
        padding-bottom: 10px
    }
}
header a {
    color: #000
}
header a: hover {
    color: #258fb8
}
header h1 {
    font-weight: 300;
    font-size: 24px
}
header h1 a {
    color: #258fb8
}

@media screen and (max-width:  600px) {
    header .social {
        display: none
    }
}
header .social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 24px;
    line-height: 28px;
    margin-left: 15px;
    opacity: 1;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
body {
    background: #fff
}
header {
    background: #2c3539;
    color: #fff
}
header.inner {
    width: auto;
    border: 0
}
header a {
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}
header a: hover {
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}
header h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    top: 0;
    left: 0;
}
header h1 a {
    background: url('/images/logo.png') left center no-repeat;
    background-size: 100%;
    text-indent: -10000em;
    height: 100%;
    width: 100%;
    text-overflow: hidden;
    display: inline-block;
    color: #fff
}
@media screen and (max-width:  600px) {
    body {
        margin: 38px 20px 0
    }
    .container {
        min-width: 0;
        max-width: auto;
    }
    header {
        height: 38px;
        padding: 0;
    }
    header h1 {
        left: 20px;
        top: 10px;
        width: 32px;
        height: 32px
    }
    header .container>div.right {
        display: none
    }
}

.horus-mark {
    background: url('../images/horus-glyph-light.png');
    background-size: 28px;
    width: 28px;
    height: 28px;
    display: inline-block;
}
.splash {
    background: #2c3539;
    color: #fff;
    padding: 50px;
}
.splash .container {
    min-width: 0;
    max-width: none;
}
.splash header {
    position: relative;
    line-height: 1.4;
    height: auto;
    margin: 0 auto 20px;
}
.splash header h1 {
    position: relative;
    display: block;
    margin: 0 auto 40px;
}
.splash header .right {
    float: none;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.splash header .social a {
    margin: 0 10px;
}
.splash footer.inner {
    border: 0;
    padding: 0;
}
.splash footer a {
    color: inherit;
}
