@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

body {
    margin-top: 94px;
}

body:after {
    display: none;
    content: url('../images/horus-glyph-blue.png');
}

header .social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    font-size: 24px;
    line-height: 28px;
    margin-left: 15px;
    opacity: 1;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

header a {
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

header a :hover {
    color: #00adef;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none
}

header h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    top: 0;
    left: 0;
}

header h1 a {
    background: url('/images/logo.png') left center no-repeat;
    background-size: 100%;
    text-indent: -10000em;
    height: 100%;
    width: 100%;
    text-overflow: hidden;
    display: inline-block;
    color: #fff;
}

.horus-mark {
    background: url('../images/horus-glyph-light.png');
    background-size: 28px;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.horus-mark:hover {
    background-image: url('../images/horus-glyph-blue.png');
}

.splash {
    background: #2c3539;
    color: #fff;
    padding: 50px;
}

.splash .container {
    min-width: 0;
    max-width: none;
}

.splash header {
    position: relative;
    line-height: 1.4;
    height: auto;
    margin: 0 auto 20px;
}

.splash header h1 {
    position: relative;
    display: block;
    margin: 0 auto 40px;
}

.splash header .right {
    float: none;
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.splash header .social a {
    margin: 0 10px;
}
